---
import Layout from '@/layouts/Layout.astro'
import Locations from '@/components/Locations.astro'
import { ContactForm } from '@/components/ContactForm'
---

<Layout title="Contact Us - Designo" hideContactCTA>
  <main
    class="md:px-10 lg:px-[165px] lg:bg-pattern-leaf lg:bg-no-repeat lg:bg-[bottom_-180px_right_-18px]"
  >
    <ContactForm client:load />

    <Locations />
  </main>
</Layout>
