---
import Layout from '@/layouts/Layout.astro'
import { ContactForm } from '@/components/ContactForm'

import australiaIllustration from '@/assets/shared/desktop/illustration-australia.svg'
import canadaIllustration from '@/assets/shared/desktop/illustration-canada.svg'
import ukIllustration from '@/assets/shared/desktop/illustration-united-kingdom.svg'
---

<Layout title='Contact Us - Designo' hideContactCTA>
  <main
    class='md:px-10 lg:px-[165px] lg:bg-pattern-leaf lg:bg-no-repeat lg:bg-[bottom_-180px_right_-18px]'
  >
    <ContactForm client:load />

    <ul
      class='flex flex-col lg:flex-row lg:grid lg:grid-cols-3 items-center gap-12 md:gap-20 lg:gap-7 py-[120px] lg:py-40'
    >
      <li class='flex flex-col items-center'>
        <div class='relative h-[202px] w-[202px] mb-12'>
          <div
            class='overlay canada-overlay absolute h-full w-full rounded-full'
          >
          </div>
          <img
            src={canadaIllustration}
            alt='Canada Illustration'
            class='relative'
          />
        </div>
        <strong
          class='font-medium text-body md:text-heading3 tracking-[5px] uppercase mb-8'
          >Canada
        </strong>
        <a
          class='bg-peach-500 hover:bg-peach-300 transition-colors text-white h-14 flex items-center px-[18px] rounded-lg uppercase text-[15px] leading-[22px] tracking-[1px] font-medium'
          href='/locations#canada'
          >See Location
        </a>
      </li>

      <li class='flex flex-col items-center'>
        <div class='relative h-[202px] w-[202px] mb-12'>
          <div
            class='overlay australia-overlay absolute h-full w-full rounded-full'
          >
          </div>
          <img
            src={australiaIllustration}
            alt='Australia Illustration'
            class='relative'
          />
        </div>
        <strong
          class='font-medium text-body md:text-heading3 tracking-[5px] uppercase mb-8'
          >Australia
        </strong>
        <a
          class='bg-peach-500 hover:bg-peach-300 transition-colors text-white h-14 flex items-center px-[18px] rounded-lg uppercase text-[15px] leading-[22px] tracking-[1px] font-medium'
          href='/locations#australia'
          >See Location
        </a>
      </li>

      <li class='flex flex-col items-center'>
        <div class='relative h-[202px] w-[202px] mb-12'>
          <div class='overlay uk-overlay absolute h-full w-full rounded-full'>
          </div>
          <img
            src={ukIllustration}
            alt='United Kingdom Illustration'
            class='relative'
          />
        </div>
        <strong
          class='font-medium text-body md:text-heading3 tracking-[5px] uppercase mb-8'
          >United Kingdom
        </strong>
        <a
          class='bg-peach-500 hover:bg-peach-300 transition-colors text-white h-14 flex items-center px-[18px] rounded-lg uppercase text-[15px] leading-[22px] tracking-[1px] font-medium'
          href='/locations#uk'
          >See Location
        </a>
      </li>
    </ul>
  </main>
</Layout>

<style scoped>
  .overlay {
    background: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0.0001) 0%,
      rgba(93, 2, 2, 0.497569) 100%
    );
    mix-blend-mode: normal;
    opacity: 0.2;
  }

  .canada-overlay {
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .australia-overlay {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .uk-overlay {
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
</style>
