---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Home - Designo'>
  <main class='mt-60'>
    <h1>Welcome to <span>Astro</span></h1>
    <p>
      Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>

    <button class='pt-auto'>Test</button>
  </main>
</Layout>
