---
import Layout from '@/layouts/Layout.astro'
import { Map } from '@/components/Map'
---

<Layout title="Locations - Designo">
  <main class="px-10 lg:px-[165px]">
    <ul class="mb-[120px] xl:mb-40">
      <li id="canada" class="xl:flex">
        <div
          class="h-80 bg-[#FDF3F0] md:rounded-[15px] overflow-hidden xl:flex-1 xl:order-2 xl:max-w-[350px]"
        >
          <Map
            client:only="preact"
            center={[43.7085802, -79.2283245]}
            zoom={13}
            id="canada-map"
          />
        </div>

        <div
          class="flex flex-col bg-[#FDF3F0] md:rounded-[15px] md:mt-8 xl:flex-1 xl:mt-0 xl:mr-8 items-center md:items-start px-6 md:px-[75px] py-20 bg-[url(/assets/shared/bg-pattern-sections.svg)] bg-[position:bottom_-180px_left] md:bg-[position:bottom_left] bg-no-repeat"
        >
          <strong
            class="text-peach-500 font-medium text-[32px] leading-9 mb-6 xl:text-heading2"
            >Canada</strong
          >
          <div class="md:flex md:items-start">
            <div
              class="mb-6 md:mb-0 flex flex-col items-center md:items-start md:mr-[120px]"
            >
              <span class="font-bold">Designo Central Office</span>
              <address class="text-center md:text-left not-italic">
                3886 Wellington Street <br /> Toronto, Ontario M9C 3J5
              </address>
            </div>

            <div class="flex flex-col items-center md:items-start">
              <span class="font-bold">Contact</span>
              <address class="text-center md:text-left not-italic">
                P: +1 253-863-8967 <br /> M: contact@designo.co
              </address>
            </div>
          </div>
        </div>
      </li>

      <li class="mt-10 md:mt-[120px] xl:mt-8 xl:flex" id="australia">
        <div
          class="h-80 bg-[#FDF3F0] md:rounded-[15px] overflow-hidden xl:flex-1 xl:max-w-[350px]"
        >
          <Map
            client:only="preact"
            center={[-33.0814031, 151.6102069]}
            id="australia-map"
          />
        </div>

        <div
          class="flex flex-col bg-[#FDF3F0] md:rounded-[15px] md:mt-8 xl:flex-1 xl:mt-0 xl:ml-8 items-center md:items-start px-6 md:px-[75px] py-20 bg-[url(/assets/shared/bg-pattern-sections.svg)] bg-[position:bottom_-180px_left] md:bg-[position:bottom_left] bg-no-repeat"
        >
          <strong
            class="text-peach-500 font-medium text-[32px] leading-9 mb-6 xl:text-heading2"
            >Australia</strong
          >
          <div class="md:flex md:items-start">
            <div
              class="mb-6 md:mb-0 flex flex-col items-center md:items-start md:mr-[120px]"
            >
              <span class="font-bold">Designo AU Office</span>
              <address class="text-center md:text-left not-italic">
                19 Balonne Street <br /> New South Wales 2443
              </address>
            </div>

            <div class="flex flex-col items-center md:items-start">
              <span class="font-bold">Contact</span>
              <address class="text-center md:text-left not-italic">
                P: (02) 6720 9092 <br /> M: contact@designo.au
              </address>
            </div>
          </div>
        </div>
      </li>

      <li class="mt-10 md:mt-[120px] xl:mt-8 xl:flex" id="uk">
        <div
          class="h-80 bg-[#FDF3F0] md:rounded-[15px] overflow-hidden xl:flex-1 xl:order-2 xl:max-w-[350px]"
        >
          <Map
            client:only="preact"
            center={[53.7360942, -1.3326407]}
            zoom={13}
            id="uk-map"
          />
        </div>

        <div
          class="flex flex-col bg-[#FDF3F0] md:rounded-[15px] md:mt-8 xl:flex-1 xl:mt-0 xl:mr-8 items-center md:items-start px-6 md:px-[75px] py-20 bg-[url(/assets/shared/bg-pattern-sections.svg)] bg-[position:bottom_-180px_left] md:bg-[position:bottom_left] bg-no-repeat"
        >
          <strong
            class="text-peach-500 font-medium text-[32px] leading-9 mb-6 xl:text-heading2"
            >United Kingdom</strong
          >
          <div class="md:flex md:items-start">
            <div
              class="mb-6 md:mb-0 flex flex-col items-center md:items-start md:mr-[120px]"
            >
              <span class="font-bold">Designo UK Office</span>
              <address class="text-center md:text-left not-italic">
                13 Colorado Way <br /> Rhyd-y-fro SA8 9GA
              </address>
            </div>

            <div class="flex flex-col items-center md:items-start">
              <span class="font-bold">Contact</span>
              <address class="text-center md:text-left not-italic">
                P: 078 3115 1400 <br /> M: contact@designo.uk
              </address>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </main>
</Layout>
