<nav class='hidden md:flex gap-10'>
  <a
    href='/'
    class='text-[14px] leading-[14px] tracking-[2px] uppercase hover:underline'
    >Our Company
  </a>
  <a
    href='/'
    class='text-[14px] leading-[14px] tracking-[2px] uppercase hover:underline'
    >Locations
  </a>
  <a
    href='/'
    class='text-[14px] leading-[14px] tracking-[2px] uppercase hover:underline'
    >Contact
  </a>
</nav>
