---
import ProjectTypesCards from '@/components/ProjectTypesCards.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='App Design - Designo'>
  <main>
    <ProjectTypesCards />
  </main>
</Layout>
