---
import ProjectCards from '@/components/ProjectCards.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Graphic Design - Designo'>
  <main>
    <ProjectCards />
  </main>
</Layout>
